<div id="main-wrapper">
    <app-headers></app-headers>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!--Bread crumb-->
            <app-breadcrumbs></app-breadcrumbs>
            <router-outlet></router-outlet>
            <!--Mi sistema de rutas-->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>-->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2020 Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
    </div>

</div>